{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<div>
<section class="hero is-medium is-light is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Primary bold title
      </h1>
      <h2 class="subtitle">
        Primary bold subtitle
      </h2>
    </div>
  </div>
</section>
</div>

<div class="corp container">
  <h3 class="title is-3">Bienvenue</h3>
</div>
{% endblock %}
