{% extends 'base.html.twig' %}

{% block title %}Invitation{% endblock %}

{% block body %}
<div class="fondgris">
    <div class="container corp">
        <h1 class="title is-3 has-text-white">Inviter un praticien</h1>
        <h1 class="subtitle is-5 has-text-white">----------------------------</h1>

        <div class="box">
            {{ form_start(form) }}
            {{ form_row(form.praticien) }}
            {{ form_row(form.specialisation) }}
            <button type="submit" class="button is-primary" style="margin-top:6%;">Inviter</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock %}