/* body {
    background-color: lightgray;
} */

.navbar {
    padding: 8px 8px;
    /*box-shadow: 0 2px 0 0 #969595;*/
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: Montserrat,sans-serif;
}

b{
    font-weight:bold;
}

body{
    background: {
        image: url("../images/fondpage.jpg");
        attachment: fixed;
        position: center;
        repeat: no-repeat;
        size: cover;
    }
    // background-image: url("../../images/fondpage.jpg");
    // background-attachment: fixed;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
}

nav.navbar a{
    nav.navbar button{
        color: #a2c4cb;
        font-weight: 300;
        transition: all .3s ease;
    }
}



.foot{
    padding: 2rem 2rem;
    box-shadow: 0 -1px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.is-info{
    background-color: #209cee;
    font-family: Montserrat,sans-serif;
    color: #fff;

}

.is-warning{
    background-color: #ffdd57;
    font-family: Montserrat,sans-serif;
    color: rgba(0,0,0,.7);

}

.margform{
    padding: 0% 2%;
}

.is-success{
    background-color: #23d160;
    font-family: Montserrat,sans-serif;
    color: #fff;

}

.formpad1{
    padding-right: 50%;
}

.corp{
    padding-top: 6%;
    padding-bottom: 6%;
}

.corpformrap{
    padding-top: 7.8%;
    padding-bottom: 7.8%;
}

.corpformpra{
    padding-top: 13%;
    padding-bottom: 13.7%;
}

.corpformact{
    padding-top: 15%;
    padding-bottom: 15%;
}

.corpformmed{
    padding-top: 12%;
    padding-bottom: 10.5%;
}

.hr {
    background-color: #d1d1d1c0;
    border: none;
    display: block;
    height: 1.5px;
    margin: 3rem 0;
}

.corplogin{
    padding-top: 15.1%;
    padding-bottom: 18%;

}

.fondlogin{
    background-image: url("../images/loginfond.jpg");
    background-color: #363636;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imglog{
    margin-left: 1%;
    margin-top: 1%;
}

.fondgris{
    background-color: #363636ec;
}

.btnlog{
    align-items: center;
}
.centerform{
    align-items: center;
    padding: 0% 10%;
}