{% extends 'log.html.twig' %}

{% block body %}
<body class="fondlogin">
    <img class="imglog" src="{{asset("images/gsb.png")}}" width="75" height="26">
    <div class="container corplogin">

        <div class="columns">
            <div class="column is-3"></div>

            <div class="column">
                <div class="box">
                    <h1 class="my-4 title is-3 has-text-centered">Connexion</h1>
                   
                    <div class="field">
                        <form action="{{ path('login') }}" method="post">
                            <label for="Identifiant"></label>
                            <p class="control has-icons-left has-icons-right">
                                <input {% if error %}class="input is-danger"{% endif %} class="input" type="mytext" id="username" name="_username" value="{{ last_username }}" placeholder="Identifiant">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user-alt"></i>
                                </span>

                            </p>
                        </div>
                        <div class="field">
                            <label for="password"></label>
                            <p class="control has-icons-left">

                                <input {% if error %}class="input is-danger"{% endif %}  class="input" type="password" id="password" name="_password" placeholder="Password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                        </div>
                         {% if error %}
                        <div style="color:red;" class="has-text-centered"> Votre identifiant ou mot de passe est incorrect</div>
                    {% endif %}
                        <input type="hidden" name="_target_path" value="{{ path('home') }}">
                        <div class="field">
                            <p class="control has-text-centered">
                            <br>
                                <button class="button is-success is-large is-fullwidth">
                                    Login
                                </button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        <div class="column is-3"></div>
      </div>
    </div>
        
</body>

{% endblock %}