.navbar {
    padding: 1rem 2rem;
    box-shadow: 0 2px 0 0 #666666;
    font-family: Montserrat,sans-serif;
}

body{
    background-color: #363636;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.navbar-item {
    margin-right: 2%;
}

.foot{
    padding: 2rem 2rem;
    background-color: #ffdd57;
    font-family: Montserrat,sans-serif;
}