.navbar {
    padding: 8px 8px;
    /*box-shadow: 0 2px 0 0 #969595;*/
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: Montserrat,sans-serif;
}

body{
    background-color: #363636;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.foot{
    padding: 2rem 2rem;
    background-color: #209cee;
    font-family: Montserrat,sans-serif;
}

.corp{
    padding-top: 6%;
    padding-bottom: 6%;
}

.corpform{
    padding-top: 10%;
    padding-bottom: 13%;
}

.hr {
    background-color: #d1d1d1c0;
    border: none;
    display: block;
    height: 1.5px;
    margin: 3rem 0;
}

.corplogin{
    padding-top: 15.1%;
    padding-bottom: 18%;

}

.fondlogin{
    background-image: url("../images/loginfond.jpg");
    background-color: #363636;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imglog{
    margin-left: 1%;
    margin-top: 1%;
}