{{ form_start{formPraticien} }}
    {{ form_row(formPraticien.pra_nom, {'attr': {'placeholder':"Nom du praticien"}}) }}
    {{ form_row(formPraticien.pra_prenom, {'attr': {'placeholder':"Prénom du praticien"}}) }}
<button type="submit" class="btn btn-success">Enregistrer le praticien</button>
{{ form_end(formArticle)}}